{% load static %}

<style>
    body {
        background: linear-gradient(135deg, #74EBD5 0%, #9FACE6 100%);
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container {
        background: #fff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 500px;
        width: 100%;
        text-align: center;  /* 使内容居中 */
    }
</style>

{% block content %}
    <div class="container">
        <p>您的密码已成功修改。</p>
        <p>欢迎回来，{{ user.username }}！</p>  <!-- 确保使用正确的属性 -->
        <a href="{% url 'toLoginPage' %}">返回登录页面</a>
    </div>
{% endblock %}
